* {
    margin: 0;
    border: 0;
}

body {
    background-image: url(/img/triumph-bonneville_3840x2160_xtrafondos.com.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    position: fixed;
    width: 100%;
}

.bienvenida {
    text-align: center;
    grid-area: bienvenida;
    font-size: xx-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
}

.contenedor {
    display: grid;
    grid-template-areas: "header nav  " "bienvenida bienvenida" "main  main  " "footer footer";
}

#servicios {
    grid-template-areas: "funcion1 funcion2 funcion3" "texto1 texto2 texto3";
}

.header {
    grid-area: header;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 35px;
}

li {
    padding: 10px;
}

ul {
    grid-area: nav;
    font-size: large;
    list-style: none;
    display: flex;
    justify-content: space-around;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.dropdown-item:hover {
    background-color: rgba(255, 255, 255, 0);
}

.dropdown-item:visited {
    color: black;
}

.dropdown-item {
    color: black;
}

a {
    color: white;
}

a:visited {
    color: white;
}

.navegacion {
    padding: 5%;
    padding-left: 1%;
    color: white;
    text-align: end;
    color: white;
}

.contenedor2 {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.funcion1 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    border-radius: 100px;
    margin: 20px;
}

li:hover {
    background-color: rgba(128, 128, 128, 0.349);
    border-radius: 10px;
}

.dropdown-menu {
    text-align: center;
}

.funcion2 {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    border-radius: 100px;
}

.funcion3 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    border-radius: 100px;
}

.main {
    color: white;
    grid-area: main;
}

h1 {
    text-align: center;
}

p {
    padding: 2%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
}

#quienes_somos {
    background-color: rgba(128, 128, 128, 0.349);
    margin: 20px;
    border-radius: 20px;
    padding: 2%;
}

#servicios {
    background-color: rgba(128, 128, 128, 0.349);
    margin: 20px;
    border-radius: 20px;
    padding: 2%;
}

.sesion {
    border-radius: 10px;
    padding: 3%;
    width: 150px;
}

.sesion:hover {
    background-color: rgb(0, 0, 0);
    color: white;
}

.registrarse {
    border-radius: 10px;
    padding: 3%;
    width: 150px;
    background-color: black;
    color: white;
}

.registrarse:hover {
    background-color: white;
    color: black;
}

#contactos {
    background-color: rgba(128, 128, 128, 0.349);
    margin: 20px;
    border-radius: 20px;
    padding: 2%;
}

.footer {
    background-color: rgb(0, 0, 0);
    grid-area: footer;
    padding: 2%;
    color: white;
    font-size: smaller;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.btn-primary {
    background-color: black;
    border-color: black;
}

.comentarios1 {
    background-color: rgba(255, 255, 255, 0.907);
    color: rgb(77, 75, 75);
    border-radius: 10px;
    text-align: start;
}

.titulocomen1 {
    padding-top: 3%;
    padding-left: 2%;
}

.comentarios2 {
    background-color: rgba(255, 255, 255, 0.907);
    color: rgb(77, 75, 75);
    border-radius: 10px;
    text-align: start;
}

.titulocomen2 {
    padding-top: 3%;
    padding-left: 2%;
}

.imagensoli {
    text-align: center;
}


/* 
//----------------------------------------- */