@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-image:url(../Imagenes/Fondo_Pagina/fondo_3.webp);      
    background-attachment:fixed;
    background-color: rgb(216, 216, 216);
}

/* Estilo del nav con sus elementos incluidos*/
nav {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.logo {
    background-color: #fdc82a;
    border-radius: 30px;
    width: 50px;
    padding-left: 2px ;
}

.botones_usuario input {
    width: 130px;
    height: 100%;
    color: rgb(0, 0, 0);
 
    background-color: #FFD045;
    border-radius: 10px;
    border-style: solid;
    font-weight: 1000;
    font-size: 15px;
}

.botones_usuario input:hover {
    cursor: pointer;
    background-color: #969356;
}
/* - - - - - - - -- - - - -- - - - - - -  - - - - - --*/

/* Estilo de la primera imagen con el texto incluido*/
.fondo_contenedor {
    margin-top: 10px;
    position: relative;
    display: inline-block;
    text-align: center;
    width: 100%;
}

.fondo_1 {
    width: 100%;
    height: 550px;
    border-radius: 10px;
}

#texto_fondo1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 100px;
    color: #ffffff;
}
/* - - - - -  - - - - - - - - - - - - - - - - - -- -  -- */


.formulario {
    background-color: #ffffff;
    background-image: radial-gradient(#0000003f 0.25px, #e5e5f7 0.25px);
    background-size: 5px 5px;
    margin: auto;
    padding: 1.5em 3em;
    padding-bottom: 3em;
    box-shadow: 1px 10px 10px -5px rgb(0, 0, 0);
    border-radius: 10px;
    
}

.form_titulo {
    font-size: 2rem;
    margin-bottom: 0.5em;
}

.form_texto1 {
    font-weight: 300;
    text-align: center;
}

.form_link {
    font-weight: 600;
    color: rgb(76, 104, 0);
    cursor: pointer;
}

.form_link:hover {
    color: rgb(0, 0, 0)
}

.form_contenido {
    margin-top: 3px;
    display: grid;
    gap: 2.5em;
}

.form_grupo {
    position: relative;
    color:dimgrey;
}

.form_input {
    width: 100%;
    background: none;
    color: rgb(55, 56, 56);
    font-size: 1rem;
    padding: 0.6em 0.3em;
    border: none;
    outline: none;
    border-bottom: 1px solid rgb(0, 0, 0);
}
.form_input:focus + .form_label, .form_input:not(:placeholder-shown) + .form_label {
    transform: translateY(-12px) scale(.7);
    transform-origin: left top;
    color: rgb(0, 0, 0);
}
.form_label{
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 5px;
    transform: translateY(10px);
    transition: transform 0.5s, color 0.3s;
}

.form_ingresar {
    background-color: rgb(25, 25, 231);
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    padding: 5px 22px;
    border: none;
    border-radius: 10px;
}

.form_cerrar {
    color: white;
    background-color: rgb(134, 8, 8);
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    padding: 5px 24px;
    border: none;
    border-radius: 10px;
}

#mimodal {
    background-color: transparent;
    border: none;
    border-radius: none;
}

/* Estilo del otro nav con sus respectivos botones*/
.botones_extras {
    background-color: #fdc82a;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    margin-bottom: -13px;
    margin-top: 05px;
    text-align: center;
    align-items: center;
    border-top-left-radius: 10px ;
    border-bottom-left-radius: 10px ;
    border-top-right-radius: 10px ;
    border-bottom-right-radius: 10px ;
    box-shadow: 0px 3px 10px 0px black;
}

.botones_extras a {
    text-decoration: none; color: black;;
} 

.botones_extras a:hover {
    text-decoration: none; color: rgb(247, 247, 247);;
} 

.B_1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    border: black;
    border-style: solid;
    border-top-left-radius: 10px ;
    border-bottom-left-radius: 10px ;
    border-bottom: none;
    border-right: none ;
    border-top: none;
}


.B_1:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #969356;
    width: 100%;
    height: 50px;
    cursor: pointer;
}

.B_2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    border: black;
    border-style: solid;
    border-width: 3px;
    border: left 0.5rem;
    border-bottom: none;
    border-right: none ;
    border-top: none;
}

.B_2:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #969356;
    width: 100%;
    height: 50px;
    cursor: pointer;
}
.B_3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    border: black;
    border-style: solid;
    border-width: 3px;
    border: left 0.5rem;
    border-bottom: none;
    border-right: none ;
    border-top: none;
}

.B_3:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #969356;
    width: 100%;
    height: 50px;
    cursor: pointer;
    
}

.B_4 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    border: black;
    border-style: solid;
    border-width: 3px;
    border: left 0.5rem;
    border-bottom: none;
    border-top: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.B_4:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #969356;
    width: 100%;
    height: 50px;
    cursor: pointer;
}


/* -------------------------------------- */

/* Diseño del modal registro*/

.formulario2 {
    background-color: #ffffff;
    background-image: radial-gradient(#0000003f 0.25px, #e5e5f7 0.25px);
    background-size: 5px 5px;
    margin: auto;
    padding: 1.5em 3em;
    padding-bottom: 3em;
    box-shadow: 1px 10px 10px -5px rgb(0, 0, 0);
    border-radius: 10px;
    
}

.form_titulo2 {
    font-size: 2rem;
    margin-bottom: 0.5em;
}

.form_texto2 {
    font-weight: 300;
    text-align: center;
}

.form_link2 {
    font-weight: 600;
    color: rgb(76, 104, 0);
    cursor: pointer;
}

.form_link2:hover {
    color: rgb(0, 0, 0)
}
.form_contenido2 {
    margin-top: 3px;
    display: grid;
    gap: 2.5em;
}

.form_grupo2 {
    position: relative;
    color:dimgrey;
}

.form_input {
    width: 100%;
    background: none;
    color: rgb(55, 56, 56);
    font-size: 1rem;
    padding: 0.6em 0.3em;
    border: none;
    outline: none;
    border-bottom: 1px solid rgb(0, 0, 0);
}
.form_input:focus + .form_label, .form_input:not(:placeholder-shown) + .form_label {
    transform: translateY(-12px) scale(.7);
    transform-origin: left top;
    color: rgb(0, 0, 0);
}
.form_label{
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 5px;
    transform: translateY(10px);
    transition: transform 0.5s, color 0.3s;
}

.form_ingresar2 {
    background-color: rgb(25, 25, 231);
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    padding: 5px 22px;
    border: none;
    border-radius: 10px;
}

.form_cerrar2 {
    color: white;
    background-color: rgb(134, 8, 8);
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    padding: 5px 24px;
    border: none;
    border-radius: 10px;
}

#mimodal2 {
    background-color: transparent;
    border: none;
    border-radius: none;
}

#listaroles {
    width: 230px;
    border-radius: 5px;
    color: #353535;
    font-weight: 500;
    font-size: 15px;
}
/* -------------------------------------- */


/* Estilo de las cards*/
.card_1 {
    width: 100%;
    background-color: #e5e5f7;
    border-radius: 10px;
    box-shadow: 0 10 10 0 black inset;
}

.titulo_card_1 {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
}

.contenido_card1 {
    display: flex;
    flex: auto;
    width: auto;
    height: auto;
    margin-top: -22px;
}

.imagen_card1 {
    padding: 15px
}

.card_2 {
    width: 100%;
    background-color: #e5e5f7;
    border-radius: 10px;
    box-shadow: 0 10 10 0 black inset;
}

.titulo_card_2 {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: -10px;
    background-color: black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
}

.numero_descarga {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.numero_descarga h1 {
    background-color: black;
    color: #e5e5f7;
    padding: 20px;

}

.titulo_card_3 {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
}

.card_3 {
    width: 100%;
    background-color: #e5e5f7;
    border-radius: 10px;
    box-shadow: 0 10 10 0 black inset;
}

.patrocinios{
    display: flex;
    text-align: center;
    align-items: stretch;
    flex-direction: row;
}

.Patrocinio1 {
    width: 100%;
    height: 50px;
}

.Patrocinio2 {
    width: 100%;
    height: 50px;
    margin-top: -8px;
}

.Patrocinio3 {
    width: 100%;
    height: 50px;
    margin-top: -3px;

}

.Patrocinio4 {
    width: 100%;
    height: 50px;
    margin-top: -15px ;
}

.Patrocinio5 {
    width: 100%;
    height: 50px;
    margin-top: -35px;
    
}

.Patrocinio6 {
    width: 100%;
    height: 50px;
}

/* -------------------------------------- */

/* Boton para subir */
.Boton_up {
    background-color: #fdc82a;
    border-radius: 30px;
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0px ;
    right: 0;
    z-index: 2;
    margin-bottom: 10px;
    margin-right: 10px;
}

.Boton_up:hover {
    background-color: #0c0c0c;
}

.Boton_up a {
    text-decoration:  none;
    color: black;
    font-size: 12px;
}

.Boton_up a:hover {
    text-decoration:  none;
    color: white;
}
/* -------------------------------------- */
footer {
    position:absolute;
    height:100px;
    line-height:60px;
    background:black;
    color:white;
    text-align:center;
    left:0;
    width:100%;
    margin-top: 20px;
  }

footer.bottom {
    bottom:0;
}