body{
    margin: 0;
    padding: 0;
   background-color: rgb(99, 94, 94);
}


.formulario{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 0 20px;
    width: 400px;
    border-radius: 10px;
}

.formulario .titulo{
    text-align: center;
    margin-bottom: 40px;
    color: #ffc800;
}

.formulario div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}
.formulario div input{
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    width: 70%;
}

.formulario div input:hover{
    border: 0;
    border-bottom: 1px solid #ffc800;
    width: 70%;
}

